<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js"></script>
    <!-- <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-auth.js"></script> -->
     <!-- <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-analytics.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-database.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script src="js/display.js" onload="display()"></script>
</head>
<body>
    <div id="display">
        <table id="try"border='1'>
        </table>
        <button id="enter">Enter</button>
    </div>
    <!-- <button id="signOut" onclick="signOut()">Sign Out</button> -->
</body>
</html>